/* App.css */

/* BuyerHome.css */

/* Navbar styles */
.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.1rem;
  margin-left: 15px;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,...'); /* Customize the icon */
}

/* Card styles */
.card {
  margin-bottom: 20px;
}

.card-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#send-btn {
  margin-left: 10px;
  height:60px;
  width:120px;
}
.farmer_Login_btn__{
  height:30px;
  margin: 30px;
}
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to center vertically */
  text-align: center;
}

.login-btn {
  margin-top: 20px; /* Add margin for spacing if needed */
}

#send-btn {
  margin-left: 10px;
  height: 60px;
  width: 120px;
}


