/* ReportPage.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.chart-container {
    padding: 20px;
}

.top-charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.Barchart-container, .DonutPieChart {
    flex: 1;
    margin-right: 20px;
}


.MarkerChart-container {
    /* Center the line chart below the bar and pie charts */
    text-align: center;
}
