
/* }
this is next css */
/* RoleSelection.css */

/* RoleSelection.css */

.bgimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    background-color: #fff;
  }
  
  .Choose {
    text-align: center;
  }
  .select{
    font-size: larger;
    font-style: oblique;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .Cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .Farmer-Card, .Buyer-Card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    background-color: #07cc14;
    border: none;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease; 
    border-radius: 10px;
  }
  
  button h1 {
    margin: 0;
    font-size: 36px;
    color: #e8e1e1;
    margin-bottom: 10px;
    font-style: oblique;
    font-weight: 600;

  }
  
  button img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

  }
  button:hover{
    transform: scale(1.1);
    background-color: #07cc14; ;
    
  }
  .select-role{
    font-weight: 800;
    font-style: oblique;
  }
  .Farmer-btn,.Buyer-btn{
    border-radius: 20px;
  }